{% extends 'generic_list.html' %}

{% block table_id %}
    authors
{% endblock %}

{% block table_header %}
    <th>Name</th>
    <th>Books Published</th>
    <th>Average Rating</th>
{% endblock %}

{% block table_rows %}
    {% for author in object_list %}
        <tr>
            <td>{{ author.author|title }}</td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
{% endblock %}

{% block view_url_prev %}
    {% url 'authors' %}
{% endblock %}

{% block view_url_next %}
    {% url 'authors' %}
{% endblock %}

{% block none_found %}
    <p>No authors found.</p>
{% endblock %}

