{% extends 'base_generic.html' %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('#books_table').DataTable({
                "serverSide": true,
                "ajax": "{% url 'search' %}",
                "orderMulti": false,
                "columns": [
                    {
                        "data": 'isbn', "render": function (data, type, full, meta) {
                        return '<a href="/book/' + data + '/">' + data + '</a>'
                    }
                    },
                    {"data": 'title'},
                    {"data": 'author'},
                    {"data": 'publisher'}
                ]
            });
        })
    </script>

    <table id="books_table" class="display table">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
        </tr>
        </tfoot>
    </table>

{% endblock %}
