{% extends 'base_generic.html' %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col-xs-2">
            <a href="{{ object.image_url_l }}"><img src="{{ object.image_url_m }}" alt="{{ object.title }} cover"/></a>
        </div>
        <div class="col-xs-8">
            <div class="page-header">
                <h1>{{ object.title }}
                    <small>by <a href="{{ object.author.get_absolute_url }}">{{ object.author }}</a></small>
                </h1>
            </div>
            <p>Publisher: <a href="{{ object.publisher.get_absolute_url }}">{{ object.publisher }}</a></p>
        </div>
    </div>

    <p>Average rating: {{ avg_rating }}</p>

    <h2>Update information</h2>
    <div class="row">
        <form action="{% url "book_pk" pk=object.isbn %}" method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}