{% extends 'generic_list.html' %}

{% block title %}
    Books
{% endblock %}

{% block table_id %}
    books
{% endblock %}

{% block table_header %}
    <th></th>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
{% endblock %}

{% block table_rows %}
    {% for book in object_list %}
        <tr>
            <td><a href="{{ book.image_url_l }}">
                <img src="{{ book.image_url_s }}" alt="{{ book.title }}"/>
            </a></td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publisher }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block view_url_prev %}
    {% url 'books' %}
{% endblock %}

{% block view_url_next %}
    {% url 'books' %}
{% endblock %}

{% block none_found %}
    <p>No books found.</p>
{% endblock %}
