{% extends 'base_generic.html' %}

{% block content %}
    <div class="page-header">
        <h1>{{ object.id }}</h1>
    </div>

    <h2>Recommended Books</h2>
    <ul class="list-group">
        {% for book in recommend %}
            <li class="list-group-item"><a href="{{ book.book.get_absolute_url }}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>


    <h2>To Read</h2>
    <ul class="list-group">
        {% for book in to_read %}
            <li class="list-group-item"><a href="{{ book.book.get_absolute_url }}">{{ book.book.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Have Read</h2>
    <ul class="list-group">
        {% for book in read %}
            <li class="list-group-item"><a href="{{ book.book.get_absolute_url }}">{{ book.book.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Ratings</h2>
    <div class="table-responsive">
        <table id="ratings" class="table table-bordered">
            <tr>
                <th>ISBN</th>
                <th>Rating</th>
            </tr>
            {% for rating in ratings %}
                <tr>
                    <td><a href="{{ rating.book.get_absolute_url }}">{{ rating.book.title }}</a></td>
                    <td>{{ rating.rating }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}